@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
    --header-background-color: #395b64;
    --header-font-color: #a5c9ca;
    --background-color: #a5c9ca;
    --font-color: #2c3333;
    --square-background-color: #e7f6f2;
    --square-hover-background-color: #cde0ff;

    --button-background-color: #395b64;
    --button-hover-background-color: #324b52;
    --button-active-background-color: #2c3333;
    --button-font-color: #b0e4db;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: 1.5fr 8fr 1fr;
    font-family: "Varela Round", serif;
}

/* Header */

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--header-background-color);
}

.header h1 {
    color: var(--header-font-color);
    font-size: 3rem;
}

/* Main */

.main {
    background-color: var(--background-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.messageBox {
    margin-bottom: 24px;
    margin-top: 24px;
    font-size: 2rem;
    color: var(--font-color);
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2px;
    border: 2px solid black;
    width: 458px;
    height: 458px;
    background-color: black;
}

.square {
    background-color: var(--square-background-color);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.square:hover {
    background-color: var(--square-hover-background-color);
}

.restart-button {
    background-color: var(--button-background-color);
    color: var(--button-font-color);
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 1rem;
    border: none;
    margin-top: 24px;
    box-shadow: none;
}

.restart-button:hover {
    background-color: var(--button-hover-background-color);
}

.restart-button:active {
    background-color: var(--button-active-background-color);
}

/* Footer */

.footer {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.fa-github {
    color: black;
}
